.profile {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px auto;
/*    min-width: 130px;*/
    max-width: 350px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    line-height: 1.4em;
    border-radius: 4px;
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;

    &:hover {
        box-shadow: 0 0 5px 0px rgb(122, 180, 92);
    }

    .emoji {
        position: absolute;
        right: 5px;
        top: 12px;
        font-size: 30px;
    }

    .background {
        width: 100%;
        vertical-align: top;
        opacity: 0.05;
    }

    .profile-image {
        border-radius: 50%;
        position: absolute;
        bottom: 50%;
        left: 50%;
        max-width: 75px;
        opacity: 1;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
        border: 2px solid rgba(255, 255, 255, 0.5);
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    }

    figure-caption {
        width: 100%;
        padding: 15px 25px;
        position: absolute;
        left: 0;
        top: 50%;
        text-align: center;

        p {
            font-size: 15px;
            font-weight: 400;
            color: #FFF;
            margin: 0 0 5px;
            text-decoration: none;

            span {
                display: block;
                font-size: 12px;
                font-style: italic;
                color: #7AB55C;
                margin: 10px 15px;
            }
        }

        i {
            padding: 10px 5px;
            display: inline-block;
            font-size: 25px;
            color: #FFF;
            text-align: center;
            opacity: 0.85;
        }

        i:hover {
            opacity: 1;
            -webkit-transition: all 0.35s ease;
            transition: all 0.35s ease;    
        }
    }
}

.profile * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
    
.profile:hover .background,
.profile.hover .background {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

@media only screen and (max-width: 900px) {
    .profile figure-caption p span {
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    .profile .profile-image {
        max-width: 35px;
    }

    .profile figure-caption {
        padding: 15px 0px;
    }

    .profile figure-caption p {
        font-size: 11px;
    }

    .profile figure-caption i {
        display: none;
    }
}